body {
    background-color: #e2edff;   
}

.jumbotron {
    padding-top: 4rem;
    background-color: #e2edff;
}

#about {
    background-color: #81a1c1;
}

#contact {
    background-color: #81a1c1;
}